@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', serif;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(#2b1055,#7597de,#a3d7f7,#e1a3f7);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .fai{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left:20px ;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover{
    background: white;
    color: #2b1055;
}
section#abstractt,section#equitment,section#process1,section#member1,section#poster1,section#vitii,section#codee,section#VDO1,
section#home{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#VDO1{
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon{
    mix-blend-mode: screen;
    position: absolute;
    left: -25%;
}
#name{
    position: absolute;
    top: 25%;
    color: white;
    white-space: nowrap;
    font-size: 3vw;
    z-index: 9;
    transform: translateY(100px);
}
#bttn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    color: #2b1055;
    font-size: 2em;
    z-index: 9;
    transform: translateY(130px);
}
#head1{
    font-size: 2.5em;
    position: absolute;
    top: 7%;
    color: rgb(255, 255, 255);
}
#head2{
    font-size: 2.5em;
    position: absolute;
    top: 62%;
    color: white;
}
.abstract p{
    font-size: 1em;
    color: black;
}

#start{
  border-radius: 50px;
  background: #b7d2e7;
  opacity: 60%;
  position: absolute;
  top: 18%;
  left: 20%;
  padding: 30px;
  width: 1000px;
  height:240px;
  text-align: center;
}
#objective{
    border-radius: 35px;
    background: #b7d2e7;
    opacity: 70%;
    position: absolute;
    top: 73%;
    left: 20%;
    padding: 30px;
    width: 770px;
    height:120px;
    z-index: 999;
  }

.img1{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    z-index: -500;
}
.img2{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5%;
    left: 13%
}
.img3{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 60%;
    left: 13%
}
.img4{
    width: 35%;
    height: 35%;
    position: absolute;
    top: 60%;
    left: 60%;
    border: 10px double whitesmoke;
    border-radius: 15px;
}
/* hr{
    border: 2px dashed white;
    background-color: white;
    border-radius: 1px;
    top: 10%;
} */
#equipment1{
    border-radius: 35px;
    color: black;
    background: #b7d2e7;
    opacity: 60%;
    position: absolute;
    bottom:190%;
    right: 85%;
    padding: 20px;
    width: 200px;
    height:90px;
    text-align: center;
  }
.equit{
    display:inline;
    margin-top:70%;
    margin-left:2.5px;
    margin-bottom:50px;
    height:50%;
    width:50%;
    border-radius: 15px;
}
.equit1{
    position: absolute;
    top: -80%;
    margin-top:0%;
    margin-left:54%;
    margin-bottom:20%;
    height: 200px;
    width: 25%;
    border-radius: 15px;
}
#li1{
    position: absolute;
    top: 52%;
    margin-top:0%;
    margin-left: 57%;
    margin-bottom:20%;
}
.equit2{
    position: absolute;
    top: -80%;
    margin-top:0%;
    margin-left:85%;
    margin-bottom:25%;
    height:200px;
    width: 25%;
    border-radius: 15px;
}
#li2{
    position: absolute;
    top: 52%;
    margin-top:0%;
    margin-left: 94%;
    margin-bottom:20%;
}
.equit3{
    position: absolute;
    top: -80%;
    margin-top:0%;
    margin-left:-8%;
    margin-bottom:25%;
    height:200px;
    width: 25%;
    border-radius: 15px;
}
#li3{
    position: absolute;
    top: 52%;
    margin-top:0%;
    margin-left: -8%;
    margin-bottom:20%;
}
.equit4{
    position: absolute;
    top: -80%;
    margin-top:0%;
    margin-left:23%;
    margin-bottom:25%;
    height:200px;
    width: 25%;
    border-radius: 15px;
}
#li4{
    position: absolute;
    top: 52%;
    margin-top:0%;
    margin-left: 23%;
    margin-bottom:20%;
}
.equit5{
    position: absolute;
    top: 90%;
    margin-top:0%;
    margin-left:-8%;
    margin-bottom:25%;
    height:200px;
    width: 25%;
    border-radius: 15px;
}
#li5{
    position: absolute;
    top: 222%;
    margin-top:0%;
    margin-left: -6%;
    margin-bottom:20%;
}
.equit6{
    position: absolute;
    top: 90%;
    margin-top:0%;
    margin-left:23%;
    margin-bottom:25%;
    height:200px;
    width: 25%;
    border-radius: 15px;
}
#li6{
    position: absolute;
    top: 222%;
    margin-top:0%;
    margin-left: 25%;
    margin-bottom:20%;
}
.equit7{
    position: absolute;
    top: 90%;
    margin-top:0%;
    margin-left:54%;
    margin-bottom:25%;
    height:200px;
    width: 25%;
    border-radius: 15px;
}
#li7{
    position: absolute;
    top: 222%;
    margin-top:0%;
    margin-left: 58%;
    margin-bottom:20%;
}
.equit8{
    position: absolute;
    top: 90%;
    margin-top:0%;
    margin-left:85%;
    margin-bottom:25%;
    height:200px;
    width: 25%;
    border-radius: 15px;
}
#li8{
    position: absolute;
    top: 222%;
    margin-top:0%;
    margin-left: 90%;
    margin-bottom:20%;
    text-align: center;
}

.equit1:hover{
    border: 1px solid black;
    transform: scale(1.75);
}
.equitmentt{
    position:relative;
}
.equitmentt h2{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}
.equitmentt li{
    font-size: 1em;
    color: white;
}
.equitmentt h4{
    font-size: 1em;
    color: transparent;
}
.mid{
    width: 1000px;
    margin:auto;
}


.process{
    position:absolute;
}
.process h2{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}
.process p{
    margin-top: 13%;
    font-size: 1em;
    font-weight: bold;
    color: rgb(59, 59, 59);
}#headp{
    position: absolute;
    top: 10%;
    color: white;
    white-space: nowrap;
    font-size: 3vw;
    z-index: 9;
    transform: translateY(-345px);
  }

.pic1{
    position: absolute;
    top: -75%;
    left: 8%;
    margin-top:0%;
    margin-left:2.5px;
    margin-bottom:100px;
    height: 250px;
    width: 400px;
    border-radius:15px;
    z-index: 10;
}
.picbg{
    transform: translatex(-350px) translatey(-500px) rotate(90deg);
    opacity: 60%;
    height: auto;
    width: 100%;
    z-index: -20;
}
.imghover1 {
    position: absolute;
ิ    background-size:cover;
    width: 300px;
    height:300px;
    background-image: url('https://cdn.discordapp.com/attachments/798606239537954816/839491106252521522/image4.jpg'); /* ที่อยู่รูปภาพที่1 */
    top:50%
}
.imghover1:hover {
background-image : url('https://cdn.discordapp.com/attachments/798606239537954816/839492570672267284/image0.png'); /* ที่อยู่รูปภาพที่2 */
}
#vitiii{
    border-radius: 35px;
    color: rgb(255, 255, 255);
    background: #0b2f4b;
    opacity: 75%;
    position: absolute;
    top:0%;
    margin-top: 0%;
    left: 8%;
    padding: 2%;
    width: 200px;
    height:90px;
    text-align: center;
    z-index: 9;
}
#txtviti{
        border-radius: 35px;
        color:white;
    background-color: #6A5ACD;
    opacity: 75%;
    position: absolute;
    top:15%;
    margin: 0%;
    left: 16%;
    padding: 2%;
    width: 80%;
    height:65%;
    text-align: left;
    z-index: 9;
    font-size: 1.1em;
}
.VDO{
    position: relative;
}
.VDO h2{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}
.VDO p{
    font-size: 1em;
    color: white;
}
#vedi{
    border-radius: 35px;
    color: rgb(255, 255, 255);
    background: #0b2f4b;
    opacity: 60%;
    position: absolute;
    bottom: 96%;
    margin-top: 0%;
    right: 90%;
    padding: 20px;
    width: 200px;
    height:90px;
    text-align: center;
    z-index: 9;
}
#vdo2{
    position: relative;
    margin-top: 2%;
    z-index: 9;
}
.picbg2{
    transform: translatex(300px) translatey(-250px) rotate(-90deg);
    opacity: 60%;
    height: auto;
    width: 100%;
    z-index: -20;
}
.poster{
    position: absolute;
}
.poster h2{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}
.poster p{
    font-size: 1em;
    color: white;
}
#phead{
    border-radius: 35px;
    color: rgb(255, 255, 255);
    background: #0b2f4b;
    opacity: 60%;
    position: absolute;
    bottom: 280px;
    margin-top: 0%;
    left: 5px;
    padding: 20px;
    width: 200px;
    height:90px;
    text-align: center;
}
.picposter{
    position: absolute;
    transform: translateX(350px) translateY(-220px);
    margin-top: -100px;
    width: 30vw;
    height: 90vh;
}

.member{
    position: relative;
}
.member h2{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}
.member p{
    font-size: 1em;
    color: white;
}
#mem{
    border-radius: 35px;
    color: rgb(255, 255, 255);
    background: #0b2f4b;
    opacity: 60%;
    position: absolute;
    top: -750%;
    right: 90%;
    padding: 20px;
    width: 200px;
    height:90px;
    text-align: center;
    z-index: 9;
}
.namewrap{
    position: absolute;
    width:300px;
    margin:2em auto;
}
.namecard1{
    width:100%;
    background:red;
    padding-top:100%;
    position:relative;
    border-radius:30px;
    box-shadow:0px 5px 15px #0003;
    border:15px solid #f6ed5d;
    background-image:url(https://imgur.com/8uMGKEd.png);
    background-size:cover;
    background-position:center;
    left: -50%;
    top: -250px;
}
.namecard2{
    width:100%;
    background:red;
    padding-top:100%;
    position:relative;
    border-radius:30px;
    box-shadow:0px 5px 15px #0003;
    border:15px solid #f6ed5d;
    background-image:url(https://imgur.com/y86KOmk.png);
    background-size:cover;
    background-position:center;
    left: 60%;
    top: -250px;
}
.namecard3{
    width:100%;
    background:red;
    padding-top:100%;
    position:relative;
    border-radius:30px;
    box-shadow:0px 5px 15px #0003;
    border:15px solid #f6ed5d;
    background-image:url(https://imgur.com/ASkRh8X.png);
    background-size:cover;
    background-position:center;
    left: 170%;
    top: -250px;
}
.namecard4{
    width:100%;
    background:red;
    padding-top:100%;
    position:relative;
    border-radius:30px;
    box-shadow:0px 5px 15px #0003;
    border:15px solid #f6ed5d;
    background-image:url(https://i.imgur.com/y4V6MOI.jpeg);
    background-size:cover;
    background-position:center;
    left: 280%;
    top: -250px;
}
.label{
    background:#0005;
    position:absolute;
    bottom:1em;
    right:1em;
    width:calc(100% - 2em);
    padding:1em;
    box-sizing:border-box;
    text-align:center;
    border-radius:10px;
    background:linear-gradient(to right,#fe5487,#a33bf7)
}
.name{
    font-size:1.3em;
}
.slogan{
}
.reset{
    padding:0;
    margin:0;
    color:white;
}
#code{
    position: relative;
}
#code2{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: #5f7c9e;
    opacity: 70%;
    width:65vw; 
    height:95vh; 
    border:4px solid #5f7c9e; 
    overflow:auto; 
    top: 2%;
    left: 30%;
    padding: 30px;
}
#source{
    border-radius: 35px;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: black;
    background: #b7d2e7;
    opacity: 60%;
    position: absolute;
    bottom:50%;
    right: 75%;
    padding: 20px;
    width: 300px;
    height:90px;
    text-align: center;
}
.text{
    background-color: whitesmoke;
    width:10%;
    height: 10%;
    border-radius: 100%;
    color:black;
    padding: 0.5%;
}
  #code{
      position: relative;
  }
  #code2{
        position: absolute;
        color: rgb(255, 255, 255);
        background-color: #5f7c9e;
        opacity: 70%;
        width:65vw; 
        height:95vh; 
        border:4px solid #5f7c9e; 
        overflow:auto; 
        top: 2%;
        left: 30%;
        padding: 30px;
    }

#source{
        border-radius: 35px;
        font-size: 2.5em;
        margin-bottom: 10px;
        color: black;
        background: #b7d2e7;
        opacity: 60%;
        position: absolute;
        bottom:50%;
        right: 75%;
        padding: 20px;
        width: 300px;
        height:90px;
        text-align: center;
      }
      pic